# By default, ignore everything
*

# Whitelist the directories themselves (this ensures the structure is kept)
!*/
 
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

!/Packages/**
!/Packages/*

!.gitignore
# Ignore the entire Terrains folder

# MemoryCaptures can get excessive in size.
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Whitelist .cs, .unity, .cs.meta, and audio files ONLY within the Assets folder
/Assets/*.cs
/Assets/*.cs.meta
/Assets/*.wav
/Assets/*.mp3
/Assets/*.ogg
/Assets/*.flac
/Assets/*.aiff
/Assets/*.aif
/Assets/*.m4a
/Assets/Sprites/*.png
/Assets/Scenes/*
Assets/Scenes/Roam Scene.unity

# Now recursively whitelist folders inside Assets to keep the structure
!/Assets/**/
# And within those whitelisted folders, whitelist the desired file types
!/Assets/Items/**/*.asset
!/Assets/Moved_Resources/**/*.prefab
!/Assets/Moved_Resources/**/*.prefab.meta
!/Assets/_UI/**/*.prefab
!/Assets/_UI/**/*.prefab.meta

!/Assets/Materials/**/*.shadergraph
!/Assets/Materials/**/*.shadersubgraph

!/Assets/Presets/*

!/Assets/Resources/Models/Placeables/**/*.fbx
!/Assets/Resources/Models/Human/**/*.fbx
!/Assets/Resources/Models/BaseItems/**/*.fbx



!/Assets/**/*.cs
!/Assets/**/*.ink
!/Assets/**/*.anim
!/Assets/**/*.cs.meta
!/Assets/**/*.wav
!/Assets/**/*.mp3
!/Assets/**/*.ogg
!/Assets/**/*.flac
!/Assets/**/*.aiff
!/Assets/**/*.aif
!/Assets/**/*.m4a
!/Assets/**/*.inputactions
!/Assets/Sprites/**/*.png

# ------------------------------- UI Builder ------------------------------- 
!/Assets/UI Toolkit/*
# Ignore everything inside Assets/SFX/Audio
Assets/SFX/Audio/
Assets/Sprites/

# Do not ignore directories inside Assets/SFX, so we can search them for .wav files

/Assets/TextMesh Pro/
/Assets/TerrainSampleAssets/
/Assets/_Scripts/Other/Unused

# Documentation
Packages/com.jbooth.microsplat.core/Documentation/