# By default, ignore everything
*

# Whitelist the directories themselves (this ensures the structure is kept)
!*/
 
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

!.gitignore
# Ignore the entire Terrains folder
# MemoryCaptures can get excessive in size.
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/
# Whitelist .cs, .unity, .cs.meta, and audio files ONLY within the Assets folder
/Assets/*.cs
/Assets/*.wav
/Assets/*.mp3
/Assets/*.ogg
/Assets/*.flac
/Assets/*.aiff
/Assets/*.aif
/Assets/*.m4a

/Assets/Plugins/**
/Assets/TextMesh Pro/

# Now recursively whitelist folders inside Assets to keep the structure
!README.md

!/Assets/**/*.txt
!/Assets/**/*.md

!/Assets/**/*.cs
!/Assets/**/*.anim
!/Assets/**/*.wav
!/Assets/**/*.mp3
!/Assets/**/*.ogg
!/Assets/**/*.flac
!/Assets/**/*.aiff
!/Assets/**/*.aif
!/Assets/**/*.m4a
!/Assets/**/*.asmdef

!/Assets/Documentation/*

/Assets/**/*.meta
